<div class="container">
  <div class="information">
    <i class="fas fa-arrow-circle-left"></i> <a href="/dashboard">Back to dashboard</a>
  </div>

  <h1 class="title is-4">Connect an API</h1>
  <p class="information">
    In order to customize behavior or see live debugging information for an API, you first need to connect
    it with your user account. In order to do so, please enter the name of the API you wish to connect
    and the API key you received during API creation.
  </p>
  <form method="POST" action="/connect">
    <div class="field">
      <label class="label">API name</label>
      <div class="control">
        <input class="input is-primary" type="text" name="api-name" placeholder="Your API name">
      </div>
    </div>

    <div class="field">
      <label class="label">API key</label>
      <div class="control">
        <input class="input is-primary" type="text" name="api-key" placeholder="Your API key">
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <button class="button is-primary" type="submit">
          <span class="icon is-large">
            <i class="fas fa-plug"></i>
          </span>
          <span>Connect</span>
        </button>
      </div>
      <div class="control">
        <a class="button is-primary is-outlined" href="/dashboard">Cancel</a>
      </div>
    </div>
  </form>
</div>