<div class="container">
  <div class="information">
    <i class="fas fa-arrow-circle-left"></i> <a href="/dashboard">Back to dashboard</a>
  </div>

  <div id="customize-container" data-api-name="{{apiName}}"></div>
</div>

<script type="module" src="/javascript/customize/index.js"></script>