<h1 class="title is-4">
  Welcome, {{githubInfo.name}}!
</h1>

{{#if hasConnectedApis}}

  <div id="dashboard-container" data-apis="{{connectedApis}}"></div>

  <script type="module"  src="/javascript/dashboard/index.js"></script>

{{else}}

  <div>
    <p>You do not have any connected API.</p>
    <p>If you have already created one, you can <a href="/connect">connect
    it here</a> with your API name and key.</p>
    <p>If you do not have an API, <a href="/">create one on the starting page</a>.</p>
  </div>

{{/if}}