<div class="container">
  <h1 class="title is-4">
    Welcome, {{githubInfo.name}}!
  </h1>

  <div id="dashboard-container" data-apis="{{connectedApis}}"></div>
</div>

<script type="module" src="/javascript/dashboard/index.js"></script>