<div class="information">
  <i class="fas fa-arrow-circle-left"></i> <a href="/dashboard">Back to dashboard</a>
</div>

<div id="debug-container" data-api-name="{{apiName}}"></div>

<script type="module" src="/javascript/debug/index.js"></script>