<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>200 OK</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <link rel="stylesheet" href="/stylesheets/custom.css">
</head>
<body>
  <div class="container">
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          <h1 class="title is-4" id="main-title">200 <span class="title-lighter">OK</span></h1>
        </div>
      </div>

      <div class="level-right">
        <p class="level-item"><a href="/faq">FAQ</a></p>
        <p class="level-item"><a href="#">Login</a></p>
        <p class="level-item"><a class="button is-success" href="#">Register</a></p>
      </div>
    </nav>
    {{{ body }}}
  </div>
</body>
</html>