<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>200 OK</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <link rel="stylesheet" href="/stylesheets/custom.css">
  <link rel="stylesheet" href="/stylesheets/all.css">
  <link rel="stylesheet" href="/stylesheets/prism.css">

  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
</head>
<body>
  <div class="page-wrapper lower-padding">
    <nav class="navbar is-transparent is-spaced" role="navigation" aria-label="navigation menu">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="/images/200ok_logo_top.png" width="106" height="40" alt="Logo of 200 OK" title="200 OK <3 you">
        </a>

        <a role="button" class="navbar-burger" data-target="navigation-menu" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-menu" id="navigation-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/documentation">
            Documentation
          </a>
          <a class="navbar-item" href="/case-study">
            Case Study
          </a>
          <a class="navbar-item" href="/about">
            About
          </a>
          <a class="navbar-item" href="/privacy">
            Privacy
          </a>
        </div>

        <div class="navbar-end">
            {{#if isAuthenticated}}
              <div class="navbar-item">
                <a class="button is-primary" href="/dashboard">
                  <span class="icon">
                    <i class="fas fa-tachometer-alt"></i>
                  </span>
                  <span>Dashboard</span>
                </a>
              </div>
              <div class="navbar-item">
                <a class="button is-primary" href="/logout">
                  <span class="icon">
                    <i class="fas fa-sign-out-alt"></i>
                  </span>
                  <span>Logout</span>
                </a>
              </div>
            {{else}}
              <div class="navbar-item">
                <a class="button is-primary" href="/login">
                  <span class="icon">
                    <i class="fab fa-github"></i>
                  </span>
                  <span>Login with GitHub</span>
                </a>
              </div>
            {{/if}}
        </div>
    </nav>

    <div class="container information">
      <div class="flash-messages">
        {{#if flash_success}}
          <article class="message is-success information">
            <div class="message-body">
              {{flash_success}}
            </div>
          </article>
        {{/if}}
        {{#if flash_error}}
          <article class="message is-warning information">
            <div class="message-body">
              {{flash_error}}
            </div>
          </article>
        {{/if}}
      </div>
    </div>

    {{{ body }}}
  </div>

  <footer class="footer">
      <div class="content has-text-centered">
        <strong>200 OK</strong> was developed by <a href="https://www.unger.dev/">Markus Unger</a>.<br />The source code is available on <a href="https://github.com/markusunger/200_OK">GitHub</a> and licensed under the GNU General Public License v3.0.
      </div>
  </footer>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const navBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

      if (navBurgers.length > 0) {
        navBurgers.forEach(burger => {
          burger.addEventListener('click', () => {
            const { target } = burger.dataset;
            const targetItem = document.getElementById(target);

            burger.classList.toggle('is-active');
            targetItem.classList.toggle('is-active');
          });
        });
      }
    });
  </script>
</body>
</html>