<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>200 OK</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <link rel="stylesheet" href="/stylesheets/custom.css">
  <link rel="stylesheet" href="/stylesheets/all.css">
</head>
<body>
  <nav class="navbar is-transparent is-spaced" role="navigation" aria-label="navigation menu">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/images/200ok_logo_top.png" width="106" height="40">
      </a>

      <a role="button" class="navbar-burger" data-target="navigation-menu" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu" id="navigation-menu">
      <div class="navbar-start">
        {{#if isAuthenticated}}
          <a class="navbar-item" href="/dashboard">
            Dashboard
          </a>
        {{/if}}

        <a class="navbar-item" href="/documentation">
          Documentation
        </a>
        <a class="navbar-item" href="/about">
          About
        </a>
        <a class="navbar-item" href="/privacy">
          Privacy
        </a>
        <a class="navbar-item" href="/contact">
          Contact
        </a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          {{#if isAuthenticated}}
            <a class="button is-primary" href="/logout">
              Logout
            </a>
          {{else}}
            <a class="button is-primary" href="/login">
              <span class="icon">
                <i class="fab fa-github"></i>
              </span>
              <span>Login with GitHub</span>
            </a>
          {{/if}}
        </div>
      </div>
    </div>
  </nav>

  <div class="container spacing-top">
    <div class="flash-messages">
      {{#if flash_success}}
        <article class="message is-success information">
          <div class="message-body">
            {{flash_success}}
          </div>
        </article>
      {{/if}}
      {{#if flash_error}}
        <article class="message is-warning information">
          <div class="message-body">
            {{flash_error}}
          </div>
        </article>
      {{/if}}
    </div>
  {{{ body }}}
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const navBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

      if (navBurgers.length > 0) {
        navBurgers.forEach(burger => {
          burger.addEventListener('click', () => {
            const { target } = burger.dataset;
            const targetItem = document.getElementById(target);

            burger.classList.toggle('is-active');
            targetItem.classList.toggle('is-active');
          });
        });
      }
    });
  </script>
</body>
</html>