<div class="columns">
  <div class="column">
    <h1 class="title is-1">Frequently Asked Questions</h1>

    <h2 class="title is-3">What is this?</h2>
    <p><em>200 OK</em> provides an <strong>ephemeral, RESTful</strong> API for you to use. Whether
    you are learning frontend web development and want to have a quick backend with real data, or you
    are at a hackathon and just want to store some data without having to worry about creating backend
    logic, you can simply use your <em>200 OK</em> API and follow REST principles.</p>
    <h2 class="title is-3">How do I use my API?</h2>
    <p>Without any further configuration, your API understands</p>
  </div>
</div>