<div class="columns">
  <div class="column has-text-centered" id="info-box">
    <p>
      A one-click ephemeral REST API. No signup required.
    </p>
    <button class="button is-primary is-outlined is-large" id="create-api">Create an API</button>
  </div>
</div>

<script src="/javascript/index.js"></script>