.title-200 {
  color: rgb(41, 41, 41);
}

.title-ok {
  color: #158348;
  text-shadow: 1px 1px 5px rgb(148, 230, 141);
}

.title-link {
  padding: 0.1rem 0.4rem;
  border-radius: 0.3rem;
  transition-property: background-color;
  transition-duration: 1s;
}

.title-link:hover {
  background-color: #0f6d3b;
}

.title-link:hover .title-200 {
  color: #fff;
}

.title-link:hover .title-ok {
  color: #81b99b;
  text-shadow: 1px 1px 5px rgb(34, 58, 32);
}

nav {
  margin-top: 0.3rem;
}

.code-block {
  font-family: monospace;
  background-color: rgb(37, 37, 37);
  color: #ccc;
  border-radius: 0.4rem;
  padding: 0.6rem;
}

.information {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.spacing-top {
  margin-top: 1.5rem;
}

.config-list-title {
  font-weight: bold;
  margin-bottom: 0.3rem;
}

table {
  margin-left: auto;
  margin-right: auto;
}

nav.panel {
  margin-top: 0;
}

h2.faq {
  margin-top: 1rem;
  margin-bottom: 0.2rem;
}

p {
  color: #000;
}

div.config-list-container {
  max-height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
}

ul.config-list {
}

ul.config-list li {
  padding: 0.4rem;
  margin-bottom: 0.2rem;
  font-family: monospace;
  background-color: rgb(194, 206, 187);
  color: #000;
  width: 100%;
  border-radius: 0.25rem;
}

ul.config-list li.is-selected-item {
  background-color: white;
  cursor: auto;
  color: #000;
}

ul.config-list li:hover {
  cursor: pointer;
  background-color: white;
  color: #0f6d3b;
}

span.json-key {
  color: black;
}

span.json-string {
  color: rgb(46, 105, 54);
}

span.json-number {
  color: rgb(19, 111, 153);
}

span.json-boolean {
  color: rgb(46, 59, 42);
}

span.json-null {
  color: rgb(133, 62, 62);
}

div.status-code {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 0.5rem;
  color: white;
}

div.status-code.ok {
  background-color: rgb(43, 83, 31);
}

div.status-code.redirect {
  background-color: rgb(77, 97, 71);
}

div.status-code.client-error {
  background-color: rgb(114, 106, 62);
}

div.status-code.server-error {
  background-color: #7c2222;
}

pre {
  overflow-x: auto;
  word-wrap: break-word;
  white-space: pre-wrap;
}