.code-block {
  font-family: monospace;
  background-color: #2e3239;
  color: #7fcb2d;
  border-radius: 0.4rem;
  padding: 0.6rem;
}

.information {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.docs {
  font-size: 1.25rem;
  margin-top: 1.4rem;
  margin-bottom: 1.8rem;
}

.spacing-top {
  margin-top: 1.5rem;
}

.outer-padding {
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

.config-list-title {
  font-weight: bold;
  margin-bottom: 0.3rem;
}

table {
  margin-left: auto;
  margin-right: auto;
}

nav.panel {
  margin-top: 0;
}

h1.docs {
  margin-bottom: 2.25rem;
}

h2.docs {
  margin-top: 3rem !important;
  margin-bottom: 0.5rem;
}

aside.sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 3rem;
}

textarea {
  background-color: #2e3239 !important;
  color: #7fcb2d !important;
}

div.config-list-container {
  max-height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
}

ul.config-list li {
  padding: 0.4rem;
  margin-bottom: 0.2rem;
  font-family: monospace;
  background-color: #2e3239;
  color: #7fcb2d;
  width: 100%;
  border-radius: 0.25rem;
}

ul.config-list li.is-selected-item {
  background-color: #3d5d53;
  cursor: auto;
  color: white;
}

ul.config-list li:hover {
  cursor: pointer;
  background-color: #7fcb2d;
  color: #2e3239;
}

span.json-key {
  color: white;
}

span.json-string {
  color: #7fcb2d;
}

span.json-number {
  color: rgb(105, 184, 221);
}

span.json-boolean {
  color: rgb(154, 170, 148);
}

span.json-null {
  color: rgb(214, 175, 175);
}

div.status-code {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 0.5rem;
  color: white;
  background-color: #2e3239;
}

div.status-code.ok {
  background-color: rgb(43, 83, 31);
}

div.status-code.redirect {
  background-color: rgb(77, 97, 71);
}

div.status-code.client-error {
  background-color: rgb(114, 106, 62);
}

div.status-code.server-error {
  background-color: #7c2222;
}

pre {
  overflow-x: auto;
  word-wrap: break-word;
  white-space: pre-wrap;
}