.title-200 {
  color: rgb(41, 41, 41);
}

.title-ok {
  color: #158348;
  text-shadow: 1px 1px 5px rgb(148, 230, 141);
}

.title-link {
  padding: 0.1rem 0.4rem;
  border-radius: 0.3rem;
  transition-property: background-color;
  transition-duration: 1s;
}

.title-link:hover {
  background-color: #0f6d3b;
}

.title-link:hover .title-200 {
  color: #fff;
}

.title-link:hover .title-ok {
  color: #81b99b;
  text-shadow: 1px 1px 5px rgb(34, 58, 32);
}

nav {
  margin-top: 0.3rem;
}

.code-block {
  font-family: monospace;
  background-color: rgb(37, 37, 37);
  color: #ccc;
  border-radius: 0.4rem;
  padding: 0.6rem;
}

.information {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.event-list-title {
  font-weight: bold;
  margin-bottom: 0.3rem;
}

table {
  margin-left: auto;
  margin-right: auto;
}

nav.panel {
  margin-top: 0;
}

h2.faq {
  margin-top: 1rem;
  margin-bottom: 0.2rem;
}

div.event-list-container {
  max-height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
}

ul.event-list {
}

ul.event-list li {
  padding: 0.4rem;
  margin-bottom: 0.2rem;
  font-family: monospace;
  background-color: rgb(217, 238, 204);
  color: #000;
  width: 100%;
  border-radius: 0.25rem;
}

ul.event-list li:hover {
  cursor: pointer;
  background-color: white;
  color: #0f6d3b;
}