@charset "utf-8";

// import Overpass from Google fonts
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

// set 200 OK colors
$dark-blue-grey: #2e3239;
$light-green: #7fcb2d;
$lighter-dark: #3d5d53;
$lightest-green: #a0b87c;

// Update Bulma's global variables
$family-sans-serif: "Roboto Condensed", sans-serif;
$primary: $dark-blue-grey;
$primary-light: $light-green;
$primary-invert: $light-green;
$primary-dark: $lighter-dark;
$link: $lighter-dark;
$dark: $dark-blue-grey;
$text: black;
$success: $light-green;
$widescreen-enabled: false;
$fullhd-enabled: false;

// custom element variables
$title-line-height: 1.5;

// custom component variables
$navbar-item-img-max-height: 40px;
$button-hover-color: $lighter-dark;
$button-text-color: $light-green;
$body-background-color: rgb(236, 233, 233);
$input-border-color: $light-green;

// import required sass files from bulma package
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/elements/box.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/elements/title.sass";
@import "../../node_modules/bulma/sass/elements/table.sass";
@import "../../node_modules/bulma/sass/elements/notification.sass";
@import "../../node_modules/bulma/sass/form/_all.sass";
@import "../../node_modules/bulma/sass/components/_all.sass";
@import "../../node_modules/bulma/sass/grid/columns.sass";