<div class="container">
<h1 class="title">Not found</h1>
<p>The page you were looking for isn't here. If you haven't already, try the <a href="/">starting page</a> first. If you are sure that there should be something here, please <a href="mailto:contact@200ok.app">drop us a short mail</a>. Thanks!</p>
</div>