<div class="container">
<h1 class="title">Internal Server Error</h1>
<p>Something went wrong, best try it again later. If this error persists and you think it is our fault, please <a href="mailto:contact@200ok.app">drop us a short mail</a>. Thanks!</p>
</div>