<div class="container">
  <h1 class="title is-2 docs">About</h1>
  <p class="docs"><em>200 OK</em> was created by Markus Unger.</p>

  <h2 class="title is-4">Legal Notice</h2>


  <h3 class="title is-5">Angaben gem&auml;&szlig; &sect; 5 TMG</h3>
  <p>Markus Unger<br>
  Triftweg 59<br>
  04277 Leipzig</p>

  <h3 class="title is-5 docs">Kontakt</h3>
  <p>Telefon: 0176 63156390<br>
  E-Mail: <a href="mailto:contact@200ok.app">contact@200ok.app</a></p>
</div>