<div class="container">
  <h1 class="title is-2 docs">About</h1>
  <p class="docs">
    <em>200 OK</em> was created by <a href="https://www.unger.dev">Markus Unger</a>.
  </p>
  <p class="docs">I am a Software Engineer from Leipzig, Germany, and I am currently looking for new opportunities.
    If you like what you're seeing here and want to talk more, please get in touch.
  </p>

  <p class="buttons">
    <a class="button is-primary" href="mailto:markus@unger.dev">
      <span class="icon is-medium">
        <i class="fas fa-envelope"></i>
      </span>
    </a>

    <a class="button is-primary" href="https://www.linkedin.com/in/markus-unger-73780b171/" target="_blank">
      <span class="icon is-medium">
        <i class="fab fa-linkedin"></i>
      </span>
    </a>

    <a class="button is-primary" href="https://www.unger.dev" target="_blank">
      <span class="icon is-medium">
        <i class="fas fa-user-circle"></i>
      </span>
    </a>
  </p>

  <h2 class="title is-4">Legal Notice / Impressum</h2>


  <h3 class="title is-5">Angaben gem&auml;&szlig; &sect;5 TMG</h3>
  <p>Markus Unger<br>
  Triftweg 59<br>
  04277 Leipzig</p>

  <h3 class="title is-5 docs">Kontakt</h3>
  <p>Telefon: 0176 63156390<br>
  E-Mail: <a href="mailto:contact@200ok.app">contact@200ok.app</a></p>
</div>