<div class="box privacy-policy">
  <h1 class="title">Privacy Policy</h1>
  <p>This privacy policy will explain how <em>200 OK</em> uses the personal data collected from you when you use this website.</p>
  <h2 class="title is-5">What data do we collect?</h2>
  <p><em>200 OK</em> collects the following data:</p>
  <div class="content">
    <ul class="has-bullets">
      <li>Your IP address and the pages you visit as part of the web server logging</li>
      <li>Your GitHub screen name, id and e-mail address when you login via GitHub's OAuth API</li>
      <li>the JSON data you send to your API as part of using <em>200 OK</em></li>
    </ul>
  </div>  
  <h2 class="title is-5">How do we collect your data?</h2>
  <p>You directly provide <em>200 OK</em> with almost all of the data we collect. This happens when you:</p>
  <div class="content">
    <ul class="has-bullets">
      <li>visit pages on 200ok.app</li>
      <li>login via GitHub's OAuth</li>
      <li>issue HTTP requests to an endpoint provided via your API</li>
    </ul>
  </div>
  <h2 class="title is-5">How will we use your data?</h2>
  <p><em>200 OK</em> will use the collected data to:</p>
  <div class="content">
    <ul class="has-bullets">
        <li>manage your account, if you decide to create one</li>
        <li>serve responses for your API data</li>
        <li>provide services surrounding your API like request inspection</li>
    </ul>
  </div>
  <p>We do not share any information with third parties. There is no integrated analytics services, no Facebook/Google integration and
  no other usage of your data aside from our own error logging for internal debugging purposes. And even that is as barebones as it can get.</p>
  <h2 class="title is-5">How do we store your data?</h2>
  <p>All your data is securely stored inside a database running on a server provided by <a href="https://www.hetzner.com">Hetzner</a>, located in Falkenstein, Germany.</p>
  <h2 class="title is-5">What are your data protection rights?</h2>
  <p>Every user of <em>200 OK</em> is entitled to the following:</p>
  <div class="content">
    <ul class="has-bullets">
    <li>The right to access – You have the right to request a copy of your personal data (really, it's just what was stated above).</li>
    <li>The right to rectification – You have the right to request that we correct any information you believe is inaccurate. You also have the right to request to complete the information you believe is incomplete. But if it concerns your account dat, you should probably just go to GitHub and update your information there. If it's data stored in your API, why don't you make a <code>PUT</code> request and change it yourself? Like, that's the whole purpose of <em>200 OK</em>.</li>
    <li>The right to erasure – You have the right to request that we erase your personal data. You can revoke <em>200 OK's</em> GitHub OAuth authorization by visint <a href="https://github.com/settings/applications">https://github.com/settings/applications</a>.</li>
    <li>The right to restrict processing – You have the right to request that we restrict the processing of your personal data, under certain conditions.</li>
    <li>The right to object to processing – You have the right to object to our processing of your personal data, under certain conditions.</li>
    <li>The right to data portability – You have the right to request that we transfer the data that we have collected to another organization, or directly to you, under certain conditions. Feel free to request a raw dump from our database (though I might have to google how to do that).</li>
    </ul>
  </div>
  <p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us at our email: <a href="contact@200ok.app">contact@200ok.app</a></p>
  <h2 class="title is-5">Cookies</h2>
  <p>Cookies are text files placed on your computer to collect standard Internet log information and visitor behavior information. When you visit our website, we may collect information from you automatically through cookies or similar technology.</p>
  <h2 class="title is-5">How do we use cookies?</h2>
  <p><em>200 OK</em> uses cookies to keep you logged in. Seriously, that's all. You can even use your browser's dev tools to confirm this.</p>
  <h2 class="title is-5">How to manage cookies</h2>
  <p>You can set your browser not to accept cookies. However, you will no longer be able to stay logged in in that case. Just wanted to make that clear.</p>
  <h2 class="title is-5">Privacy policies of other websites</h2>
  <p>The <em>200 OK</em> website contains links to other websites (at least a few, I think). Our privacy policy applies only to our website, so if you click on a link to another website, you should read their privacy policy, duh.</p>
  <h2 class="title is-5">How to contact us</h2>
  <p>If you have any questions about <em>200 OK's</em> privacy policy, the data we hold on you, or you would like to exercise one of your data protection rights, please do not hesitate to contact us.</p>
  <p>Email us at: <a href="mailto:contact@200ok.app">contact@200ok.app</a></p>
  <h2 class="title is-5">Was all of this really necessary?</h2>
  <p>Complying to the GDPR is required by law for me, so yeah. This should have demonstrated, though, that there is nothing unnecessary stored by us. It's a single session cookie, some GitHub information for user identification purposes and whatever you send to your API. You know how the internet works, so no surprises there, right?</p>
</div>